<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Script Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>Script Generator</h1>
    
    <form id="scriptForm">
        <label><input type="radio" name="action" value="config" checked> Configuration</label>
        <label><input type="radio" name="action" value="delete"> Deletion</label>
        <label><input type="radio" name="action" value="flash"> FLASH</label>
        
        <table id="locations" border="1">
            <tr>
                <th>Location</th>
                <th>IP A/(flash)</th>
                <th>IP B</th>
                <th>IP C</th>
                <th>IP D</th>
                <th>UDP Lport_B</th>
                <th>UDP Lport_C</th>
            </tr>
        </table>

        <button type="button" onclick="addRow()">Add Location</button>
        <!-- <button type="submit">ENUM SCRIPT</button> -->
        <!-- <button type="button">SCCP SCRIPT</button> -->
        <button type="button" id="enumBtn">ENUM SCRIPT</button>
        <button type="button" id="sccpBtn">SCCP SCRIPT</button>
        <button type="button" id="ipsmBtn">IPSM SCRIPT</button>
        <button type="button" id="flashBtn">FLASH SCRIPT</button>
    </form>
</body>
</html>
